body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  text-align: center;
  margin: 0;
}

header {
  background: #2c3e50;
  color: white;
  padding: 20px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  margin-top: 30px;
}

/* GRID RESPONSIVE AUTOMÁTICO */

.rifa-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  gap: 10px;
}

/* NUMEROS */

.numero {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: 2px solid #333;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
  user-select: none;
}

.numero:hover {
  background: #3498db;
  color: white;
}

.numero.vendido {
  background: #ff4d4d;
  color: white;
  transform: scale(1.15);
  cursor: not-allowed;
  transform: scale(1.1);
}

footer {
  margin-top: 30px;
  padding: 15px;
  background: #ddd;
}

/* ---------- MEDIA QUERIES ---------- */

/* Celulares */
@media (max-width: 600px) {
  header h1 {
    font-size: 22px;
  }

  .numero {
    height: 50px;
    font-size: 14px;
  }
}

/* Tablets */
@media (max-width: 900px) {
  .numero {
    height: 55px;
  }
}

/* Pantallas grandes */
@media (min-width: 1400px) {
  .numero {
    height: 70px;
    font-size: 18px;
  }
}
